:root {
  //White
  --color-white-1: #c4ccd8;
  //Gray
  --color-gray-1: #e4eaf4;
  --color-gray-2: #404951;
  --color-gray-3: #778090;
  --color-gray-4: #e1e9f3;

  //Blue
  --color-blue-1: #3460a9;
  --color-blue-2: #10418c;
  --color-blue-3: #E1E9F3;
}
